NEXT_PUBLIC_OIDC_ISSUER=https://accounts.google.com/
NEXT_PUBLIC_OIDC_REDIRECT_URI=http://localhost:5173/auth-callback
NEXT_PUBLIC_OIDC_CLIENT_ID=<your OAuth client id>
NEXT_PUBLIC_API_URL=http://localhost:8080

OIDC_ENABLED=true
OIDC_AUDIENCE=replace-me-with-your-audience
OIDC_CLIENT_SECRET=replace-me-with-your-client-secret
OIDC_WELL_KNOWN_URL=https://{auth-server}/.well-known/openid-configuration
OIDC_TOKEN_URL=https://{auth-server}/application/o/token/
OIDC_AUTHORIZATION_URL=https://{auth-server}/application/o/authorize/
OIDC_DISCOVERY_BASE_URI=https://{auth-server}/application/o/download-api/openid-configuration

BETTER_AUTH_SECRET="change-me" # Added by `npx auth`. Read more: https://cli.authjs.dev
BETTER_AUTH_URL=https://localhost
